.products-page {
  display: flex;
  flex-direction: column;
}

.subtitle {
  align-self: center;
  color: #e6bd08;
  display: flex;
  flex-wrap: wrap;
  font-size: 40px;
  justify-content: center;
  width: 90%;
}

.text {
  width: 30%;
  margin: 20px auto 0;
  text-align: justify;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(48, 5, 105);
}
